@model System.Data.DataTable
@using System.Data;
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var job = (string)ViewData["SearchJob"];
    var company = (string)ViewData["SearchCompany"];
    var location = (string)ViewData["SearchLocation"];
}
<h2>Search result of job: "@job" of company: "@company" in location: "@location"</h2>
@{
    if (Model.Rows.Count == 0)
    {
        <p>No result</p>
    }
    else
    {
        foreach (DataRow item in Model.Rows)
        {
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="..." alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><a href=@Url.Action("detailJob", "Job", new { idJob = item[0] })>@item[1] - @item[2]</a></h3>
                    @item[3]
                    <h4>Location: @item[4]</h4>
                </div>
            </div>
        }

    }
}
